@import "tailwindcss";

@font-face {
    font-family: "Scientifica";
    src: url("../fonts/scientifica.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@layer utilities {
    .font-stf {
        font-family: "Scientifica", sans-serif;
    }
}
